<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Jinpu Hu" />
   <meta name="description" content="记录和分享自己挖宝的历程 iruby.me " />
   <meta name="keywords" content="ruby,html,css,javascript,architect,ue,vim,math,startup" />
   <link rel="stylesheet" href="/css/style.css" type="text/css" media="screen, projection" />
   <link href="http://feeds.feedburner.com/irubyme" rel="alternate" title="iruby.me" type="application/atom+xml" />
   <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.ico" />
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">iruby.me</a>
    <a class="extra" href="http://w3er.com" title="She's another technical and life blog of mine.">w3er.com</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Jinpu Hu<br />
        Senior Front-end Architect of <a href="http://qunar.com/">Qunar</a><br />
        hujinpu囧gmail.com
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/hujinpu/">github.com/hujinpu</a><br />
        <a href="http://twitter.com/hujinpu/">twitter.com/hujinpu</a><br />
        <a href="http://www.facebook.com/hujinpu/">www.facebook.com/hujinpu</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/irubyme">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" width="63" height="62" />
      </a>
    </div>
  </div>
</div>

<a href="http://github.com/hujinpu"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme_right.png" alt="Fork me on GitHub" width="149" height="149" /></a>
</body>
</html>
